.component-2 {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    rgba(255, 255, 255, 1);
  padding: 218px 0 152px 822px;
}
.flex-wrapper-one {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 123px;
  bottom: 241px;
}
.dobro-pozhalovat-jeto-zmine {
  flex: 1;
  align-self: stretch;
  display: flex;
  position: relative;
  color: var(--white);
  font-family: var(--montserrat-64-regular-family);
  font-size: var(--montserrat-64-regular-size);
  font-weight: var(--montserrat-64-regular-weight);
  line-height: var(--montserrat-64-regular-line-height);
}
.dobro-pozhalovat-jeto-zmine-emphasis-1 {
  color: var(--white);
  font-family: var(--montserrat-64-bold-family);
  font-size: var(--montserrat-64-bold-size);
  font-weight: var(--montserrat-64-bold-weight);
  line-height: var(--montserrat-64-bold-line-height);
}
.component-1 {
  position: absolute;
  left: 0;
  top: 210px;
}
.num-1639208541-1-papik-pro-p-klipart-mainkra {
  width: 100%;
  height: 100%;
  position: relative;
}
