 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  margin: 269px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 0px 5px 40px 0 rgba(255,255,255,0.75);
  text-transform: none;
  border-style: solid;
  margin: 35px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 767px;
    margin-left: -427px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
  }
}